language: python

sudo: false

python:
  - 3.7
  - 3.8
  - 3.9

addons:
  apt:
    packages:
    - iverilog
    - verilator

install:
  - pip install -U importlib_metadata
  - pip install pytest pytest-pythonpath jinja2 pyverilog veriloggen numpy onnx torch torchvision

script:
  - python -m pytest --sim=verilator tests
